# LaTeX compile outputs
monthly update/document.aux
monthly update/document.bbl
monthly update/document.bcf
monthly update/document.blg
monthly update/document.fdb_latexmk
monthly update/document.fls
monthly update/document.log
monthly update/document.nav
monthly update/document.out
monthly update/document.run.xml
monthly update/document.snm
monthly update/document.synctex.gz
monthly update/document.toc
